# Importação dos dados

In [2]:
import pandas as pd

# Exploração/pré-processamento

In [4]:
df = pd.read_csv('cobrancas_ia.csv', delimiter= ';', index_col=[0])

In [6]:
df.head()

             cobrador_id  cobrado_id        data         valor
cobranca_id
1                     14          46  01/01/2023     R$ 762,83
2                     41          45  01/01/2023   R$ 1.084,60
3                     24          33  02/01/2023   R$ 1.106,73
4                     26           2  03/01/2023   R$ 1.152,65
5                      7          14  03/01/2023   R$ 1.071,02

In [7]:
df.tail()

             cobrador_id  cobrado_id        data         valor
cobranca_id
96                    13          18  15/02/2023     R$ 895,12
97                    24          48  16/02/2023   R$ 1.444,40
98                    35          36  17/02/2023   R$ 1.276,46
99                     9          41  17/02/2023   R$ 1.157,45
100                   13          18  18/02/2023     R$ 758,43

In [18]:
df.dtypes

cobrador_id             int64
cobrado_id              int64
data           datetime64[ns]
valor                  object
dtype: object

In [11]:
df.columns = [c.replace(' ', '') for c in df.columns]

In [17]:
df['data'] = pd.to_datetime(df['data'], dayfirst=True)

In [15]:
df.valor = df.valor.str.replace('R$','') # removendo unidade monetária
df.valor = df.valor.str.replace(' ','')
df.valor = df.valor.str.replace(',','') # trocando vírgula para ponto como separador de decimal
df.valor = df.valor.str.replace('.','')
df.valor = pd.to_numeric(df.valor)

ValueError: Unable to parse string "1.084.60" at position 1